<!DOCTYPE html>
<html>
<head>
    <title>Autores</title>
</head>
<body>
    <h1>Lista de Autores</h1>
    <ul>
        <% autores.forEach(function(autor) { %>
            <li><%= autor %></li>
        <% }); %>
    </ul>
</body>
</html>
