<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo ao sistema de artigos!</h1>
    <a href="/artigos">Ver artigos</a><br>
    <a href="/artigos/autores">Ver autores</a>
</body>
</html>
